
body{
  background: cadetblue;
}

.upper-container{
  display: flex;
  justify-content: space-around;
  width: 99%;
  padding: 5px;
  list-style-type: none;
  
}

.upper-container > li {
  width: 99%;
  border: 2px solid #000;
  padding:  5px;
  text-align: center;
  justify-content: space-evenly;
}

.lower-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 99%;
  height: 75%;
  padding: 5px;
}

section{
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  border: 2px solid #000;
  padding: 5px 5px;
  
}

aside{
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  border: 2px solid #000;
  padding: 0 5px; 
}

